.login {
  font-family: leoscar;
  background-image: url('./src/assets/img/bgs/login.jpg');
  h2,
  label {
    color: white;
  }

  h2 {
    font: {
      size: 48px;
      weight: 600;
    }
  }

  &_btn {
    background: linear-gradient(to left, #6781f9, #e364be);
    border-radius: 16px;
    color: white;
    font: {
      size: 16px;
      weight: 500;
    }
    height: 40px;
    text-transform: uppercase;
    width: 250px;
    &:hover {
      background: linear-gradient(to right, #6781f9, #e364be);
      color: white;
    }
  }

  label {
    text-transform: uppercase;
  }
}
